.chart{
    flex: 4;
    -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
    box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
    padding: 10px;
    color: gray;
    border-radius: 30px;
}

.chart__text {
padding: 5px;
margin-bottom: 20px;
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 22px;
line-height: 33px;
letter-spacing: -0.01em;
color: #000000;
}

.chart__grid{
stroke: rgb(228, 225, 225);
}

.chart__title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.chart_select {
    width: 90px !important;
}